<div class="container mt-5">
    <div><i class="fa fa-check-circle fa-5x" style="color: rgb(9, 228, 27);"></i></div>
    <h2>Multumim, comanda ta a fost confirmata!</h2>
    <p class="mb-4">Comanda ta nu a fost livrata inca, motivul: nu este un magazin real!</p>
    <button *ngIf="order" routerLink="/orders/{{order.id}}" class="btn btn-outline-success">
        Vizualizeaza comanda
    </button>
    <button *ngIf="!order" routerLink="/orders" class="btn btn-outline-success">
        Vizualizeaza comenzile
    </button>
</div>