<div class="bg-light px-4 py-3 text-uppercase fw-bold">
    Rezumat comanda
</div>

<div class="p-4">
    <p class="fst-italic mb-4">Costurile de expediere vor fi calculate în funcție de alegerile făcute în timpul comenzii</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketService.basketTotalSource$ | async) as totals">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Comanda subtotal</strong>
            <strong>{{totals.subtotal | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Modalitate de livrare</strong>
            <strong>{{totals.shipping | currency}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{totals.total | currency}}</strong>
        </li>
    </ul>
</div>